.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
}
.navbar-brand {
    font-weight: bold;
    font-size: 25px;
}
.up {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-right: 830px;
}
.cntr {
    padding-bottom: 10px;
}
.btn {
    border-radius: 30px;
}
.cntrr {
    padding-bottom: 10px;
    padding-left: 157px;
    padding-right: 157px;
}